@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

:root{
  --bgColor:#131722;
}

body{

  background-color:var(--bgColor) ;
  font-family: 'Montserrat Alternates';
  color: #fff;
}

nav .navbar-brand , nav .nav-link{
  color: #fff;
}